body{
    background: linear-gradient(45deg, #310b0b, #730e0e) no-repeat;
    height: 100vh;
}

.form-container {
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    width: 50%;
    text-align: center;
}

label {
    margin: 10px;
    color: #310b0b;
}

input, textarea {
    width: 300px;
    padding: 2px;
    margin-bottom: 5px;
}
fieldset {
    border: none;
    padding: 2rem 0;
}

button {
    background-color: #310b0b;
    font-size: 1rem;
    color: aliceblue;
}

button:hover {
    background-color: #730e0e;
}